<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="eshipperApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.company.accountNumber">Account Number</span></dt>
                <dd>
                    <span>{{company.accountNumber}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.name">Name</span></dt>
                <dd>
                    <span>{{company.name}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.address1">Address 1</span></dt>
                <dd>
                    <span>{{company.address1}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.address2">Address 2</span></dt>
                <dd>
                    <span>{{company.address2}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{company.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.phone">Phone</span></dt>
                <dd>
                    <span>{{company.phone}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.email">Email</span></dt>
                <dd>
                    <span>{{company.email}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.timeZone">Time Zone</span></dt>
                <dd>
                    <span>{{company.timeZone}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.costAccount">Cost Account</span></dt>
                <dd>
                    <span>{{company.costAccount}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{company.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.creator">Creator</span></dt>
                <dd>
                    <span>{{company.creator}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.contact">Contact</span></dt>
                <dd>
                    <span>{{company.contact}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.isShopifyEnable">Is Shopify Enable</span></dt>
                <dd>
                    <span>{{company.isShopifyEnable}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.defaultSignatureOption">Default Signature Option</span></dt>
                <dd>
                    <span>{{company.defaultSignatureOption}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
