<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="eshipperApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.company.industry">Industry</span></dt>
                <dd>
                    <div *ngIf="company.industryId">
                        <a [routerLink]="['/industry', company.industryId, 'view']">{{company.industryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.company.monthlyshipments">Monthlyshipments</span></dt>
                <dd>
                    <div *ngIf="company.monthlyshipmentsId">
                        <a [routerLink]="['/monthly-shipments', company.monthlyshipmentsId, 'view']">{{company.monthlyshipmentsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
