<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-heading" jhiTranslate="eshipperApp.customer.home.createOrEditLabel">Create or edit a Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.accountNumber" for="field_accountNumber">Account Number</label>
                    <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                           formControlName="accountNumber"/>
                    <div *ngIf="editForm.get('accountNumber').invalid && (editForm.get('accountNumber').dirty || editForm.get('accountNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountNumber').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.address1" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                           formControlName="address1"/>
                    <div *ngIf="editForm.get('address1').invalid && (editForm.get('address1').dirty || editForm.get('address1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address1').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                           formControlName="address2"/>
                    <div *ngIf="editForm.get('address2').invalid && (editForm.get('address2').dirty || editForm.get('address2').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address2').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                    <div *ngIf="editForm.get('postalCode').invalid && (editForm.get('postalCode').dirty || editForm.get('postalCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('postalCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.timeZone" for="field_timeZone">Time Zone</label>
                    <input type="text" class="form-control" name="timeZone" id="field_timeZone"
                           formControlName="timeZone"/>
                    <div *ngIf="editForm.get('timeZone').invalid && (editForm.get('timeZone').dirty || editForm.get('timeZone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('timeZone').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.costAccount" for="field_costAccount">Cost Account</label>
                    <input type="number" class="form-control" name="costAccount" id="field_costAccount"
                           formControlName="costAccount"/>
                    <div *ngIf="editForm.get('costAccount').invalid && (editForm.get('costAccount').dirty || editForm.get('costAccount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('costAccount').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 4 }">
                            This field cannot be more than 4.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('costAccount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.creator" for="field_creator">Creator</label>
                    <input type="number" class="form-control" name="creator" id="field_creator"
                           formControlName="creator"/>
                    <div *ngIf="editForm.get('creator').invalid && (editForm.get('creator').dirty || editForm.get('creator').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creator').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 20 }">
                            This field cannot be more than 20.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('creator')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.contact" for="field_contact">Contact</label>
                    <input type="text" class="form-control" name="contact" id="field_contact"
                           formControlName="contact"/>
                    <div *ngIf="editForm.get('contact').invalid && (editForm.get('contact').dirty || editForm.get('contact').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contact').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.isShopifyEnable" for="field_isShopifyEnable">Is Shopify Enable</label>
                    <input type="checkbox" class="form-control" name="isShopifyEnable" id="field_isShopifyEnable"
                           formControlName="isShopifyEnable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.customer.defaultSignatureOption" for="field_defaultSignatureOption">Default Signature Option</label>
                    <input type="number" class="form-control" name="defaultSignatureOption" id="field_defaultSignatureOption"
                           formControlName="defaultSignatureOption"/>
                    <div *ngIf="editForm.get('defaultSignatureOption').invalid && (editForm.get('defaultSignatureOption').dirty || editForm.get('defaultSignatureOption').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defaultSignatureOption').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('defaultSignatureOption')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
