<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="addressBook">
            <h2><span jhiTranslate="eshipperApp.addressBook.detail.title">Address Book</span> {{addressBook.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.addressBook.companyName">Company Name</span></dt>
                <dd>
                    <span>{{addressBook.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.address1">Address 1</span></dt>
                <dd>
                    <span>{{addressBook.address1}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.address2">Address 2</span></dt>
                <dd>
                    <span>{{addressBook.address2}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{addressBook.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.contactName">Contact Name</span></dt>
                <dd>
                    <span>{{addressBook.contactName}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.phoneNo">Phone No</span></dt>
                <dd>
                    <span>{{addressBook.phoneNo}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.contactEmail">Contact Email</span></dt>
                <dd>
                    <span>{{addressBook.contactEmail}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.notify">Notify</span></dt>
                <dd>
                    <span>{{addressBook.notify}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.residential">Residential</span></dt>
                <dd>
                    <span>{{addressBook.residential}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.instruction">Instruction</span></dt>
                <dd>
                    <span>{{addressBook.instruction}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{addressBook.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.dateUpdated">Date Updated</span></dt>
                <dd>
                    <span>{{addressBook.dateUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.country">Country</span></dt>
                <dd>
                    <div *ngIf="addressBook.countryId">
                        <a [routerLink]="['/country', addressBook.countryId, 'view']">{{addressBook.countryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.province">Province</span></dt>
                <dd>
                    <div *ngIf="addressBook.provinceId">
                        <a [routerLink]="['/province', addressBook.provinceId, 'view']">{{addressBook.provinceId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.city">City</span></dt>
                <dd>
                    <div *ngIf="addressBook.cityId">
                        <a [routerLink]="['/city', addressBook.cityId, 'view']">{{addressBook.cityId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.createdBy">Created By</span></dt>
                <dd>
                    <div *ngIf="addressBook.createdById">
                        <a [routerLink]="['/user-1', addressBook.createdById, 'view']">{{addressBook.createdById}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eshipperApp.addressBook.company">Company</span></dt>
                <dd>
                    <div *ngIf="addressBook.companyId">
                        <a [routerLink]="['/company', addressBook.companyId, 'view']">{{addressBook.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-book', addressBook.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
