<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-book-heading" jhiTranslate="eshipperApp.addressBook.home.createOrEditLabel">Create or edit a Address Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.companyName" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                           formControlName="companyName"/>
                    <div *ngIf="editForm.get('companyName').invalid && (editForm.get('companyName').dirty || editForm.get('companyName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('companyName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.address1" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                           formControlName="address1"/>
                    <div *ngIf="editForm.get('address1').invalid && (editForm.get('address1').dirty || editForm.get('address1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address1').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                           formControlName="address2"/>
                    <div *ngIf="editForm.get('address2').invalid && (editForm.get('address2').dirty || editForm.get('address2').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address2').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                    <div *ngIf="editForm.get('postalCode').invalid && (editForm.get('postalCode').dirty || editForm.get('postalCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('postalCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.contactName" for="field_contactName">Contact Name</label>
                    <input type="text" class="form-control" name="contactName" id="field_contactName"
                           formControlName="contactName"/>
                    <div *ngIf="editForm.get('contactName').invalid && (editForm.get('contactName').dirty || editForm.get('contactName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.phoneNo" for="field_phoneNo">Phone No</label>
                    <input type="text" class="form-control" name="phoneNo" id="field_phoneNo"
                           formControlName="phoneNo"/>
                    <div *ngIf="editForm.get('phoneNo').invalid && (editForm.get('phoneNo').dirty || editForm.get('phoneNo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNo').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.contactEmail" for="field_contactEmail">Contact Email</label>
                    <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                           formControlName="contactEmail"/>
                    <div *ngIf="editForm.get('contactEmail').invalid && (editForm.get('contactEmail').dirty || editForm.get('contactEmail').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactEmail').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.notify" for="field_notify">Notify</label>
                    <input type="checkbox" class="form-control" name="notify" id="field_notify"
                           formControlName="notify"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.residential" for="field_residential">Residential</label>
                    <input type="checkbox" class="form-control" name="residential" id="field_residential"
                           formControlName="residential"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.instruction" for="field_instruction">Instruction</label>
                    <input type="text" class="form-control" name="instruction" id="field_instruction"
                           formControlName="instruction"/>
                    <div *ngIf="editForm.get('instruction').invalid && (editForm.get('instruction').dirty || editForm.get('instruction').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('instruction').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker  #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.dateUpdated" for="field_dateUpdated">Date Updated</label>
                    <div class="input-group">
                        <input id="field_dateUpdated" type="text" class="form-control" name="dateUpdated" ngbDatepicker  #dateUpdatedDp="ngbDatepicker" formControlName="dateUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdatedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="countryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.province" for="field_province">Province</label>
                    <select class="form-control" id="field_province" name="province" formControlName="provinceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="provinceOption.id" *ngFor="let provinceOption of provinces; trackBy: trackProvinceById">{{provinceOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.city" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" formControlName="cityId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.addressBook.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="companyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
