<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.addressBook.home.title">Address Books</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address-book" [routerLink]="['/address-book/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eshipperApp.addressBook.home.createLabel">
            Create a new Address Book
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="addressBooks?.length === 0">
        <span jhiTranslate="eshipperApp.addressBook.home.notFound">No addressBooks found</span>
    </div>
    <div class="table-responsive" *ngIf="addressBooks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyName"><span jhiTranslate="eshipperApp.addressBook.companyName">Company Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address1"><span jhiTranslate="eshipperApp.addressBook.address1">Address 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address2"><span jhiTranslate="eshipperApp.addressBook.address2">Address 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postalCode"><span jhiTranslate="eshipperApp.addressBook.postalCode">Postal Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactName"><span jhiTranslate="eshipperApp.addressBook.contactName">Contact Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNo"><span jhiTranslate="eshipperApp.addressBook.phoneNo">Phone No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactEmail"><span jhiTranslate="eshipperApp.addressBook.contactEmail">Contact Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notify"><span jhiTranslate="eshipperApp.addressBook.notify">Notify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="residential"><span jhiTranslate="eshipperApp.addressBook.residential">Residential</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instruction"><span jhiTranslate="eshipperApp.addressBook.instruction">Instruction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="eshipperApp.addressBook.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateUpdated"><span jhiTranslate="eshipperApp.addressBook.dateUpdated">Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryId"><span jhiTranslate="eshipperApp.addressBook.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provinceId"><span jhiTranslate="eshipperApp.addressBook.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cityId"><span jhiTranslate="eshipperApp.addressBook.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdById"><span jhiTranslate="eshipperApp.addressBook.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyId"><span jhiTranslate="eshipperApp.addressBook.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let addressBook of addressBooks ;trackBy: trackId">
                <td><a [routerLink]="['/address-book', addressBook.id, 'view' ]">{{addressBook.id}}</a></td>
                <td>{{addressBook.companyName}}</td>
                <td>{{addressBook.address1}}</td>
                <td>{{addressBook.address2}}</td>
                <td>{{addressBook.postalCode}}</td>
                <td>{{addressBook.contactName}}</td>
                <td>{{addressBook.phoneNo}}</td>
                <td>{{addressBook.contactEmail}}</td>
                <td>{{addressBook.notify}}</td>
                <td>{{addressBook.residential}}</td>
                <td>{{addressBook.instruction}}</td>
                <td>{{addressBook.dateCreated | date:'mediumDate'}}</td>
                <td>{{addressBook.dateUpdated | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="addressBook.countryId">
                        <a [routerLink]="['/country', addressBook.countryId , 'view' ]" >{{addressBook.countryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="addressBook.provinceId">
                        <a [routerLink]="['/province', addressBook.provinceId , 'view' ]" >{{addressBook.provinceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="addressBook.cityId">
                        <a [routerLink]="['/city', addressBook.cityId , 'view' ]" >{{addressBook.cityId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="addressBook.createdById">
                        <a [routerLink]="['/user-1', addressBook.createdById , 'view' ]" >{{addressBook.createdById}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="addressBook.companyId">
                        <a [routerLink]="['/company', addressBook.companyId , 'view' ]" >{{addressBook.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/address-book', addressBook.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/address-book', addressBook.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/address-book', { outlets: { popup: addressBook.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="addressBooks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
