<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.palletType.home.title">Pallet Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pallet-type" [routerLink]="['/pallet-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eshipperApp.palletType.home.createLabel">
            Create a new Pallet Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="palletTypes?.length === 0">
        <span jhiTranslate="eshipperApp.palletType.home.notFound">No palletTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="palletTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="eshipperApp.palletType.name">Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let palletType of palletTypes ;trackBy: trackId">
                <td><a [routerLink]="['/pallet-type', palletType.id, 'view' ]">{{palletType.id}}</a></td>
                <td>{{palletType.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pallet-type', palletType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pallet-type', palletType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pallet-type', { outlets: { popup: palletType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
