<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.box.home.title">Boxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-box" [routerLink]="['/box/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eshipperApp.box.home.createLabel">
            Create a new Box
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="boxes?.length === 0">
        <span jhiTranslate="eshipperApp.box.home.notFound">No boxes found</span>
    </div>
    <div class="table-responsive" *ngIf="boxes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="eshipperApp.box.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="eshipperApp.box.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maxSupportWeight"><span jhiTranslate="eshipperApp.box.maxSupportWeight">Max Support Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="length"><span jhiTranslate="eshipperApp.box.length">Length</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="width"><span jhiTranslate="eshipperApp.box.width">Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="height"><span jhiTranslate="eshipperApp.box.height">Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="weight"><span jhiTranslate="eshipperApp.box.weight">Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="eshipperApp.box.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdByUserId"><span jhiTranslate="eshipperApp.box.createdByUser">Created By User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="metricId"><span jhiTranslate="eshipperApp.box.metric">Metric</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="palletTypeId"><span jhiTranslate="eshipperApp.box.palletType">Pallet Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="companyId"><span jhiTranslate="eshipperApp.box.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let box of boxes ;trackBy: trackId">
                <td><a [routerLink]="['/box', box.id, 'view' ]">{{box.id}}</a></td>
                <td>{{box.name}}</td>
                <td>{{box.description}}</td>
                <td>{{box.maxSupportWeight}}</td>
                <td>{{box.length}}</td>
                <td>{{box.width}}</td>
                <td>{{box.height}}</td>
                <td>{{box.weight}}</td>
                <td>{{box.createdDate | date:'mediumDate'}}</td>
                <td>
                    {{box.createdByUserId}}
                </td>
                <td>
                    <div *ngIf="box.metricId">
                        <a [routerLink]="['/metric', box.metricId , 'view' ]" >{{box.metricId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="box.palletTypeId">
                        <a [routerLink]="['/pallet-type', box.palletTypeId , 'view' ]" >{{box.palletTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="box.companyId">
                        <a [routerLink]="['/company', box.companyId , 'view' ]" >{{box.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/box', box.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/box', box.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/box', { outlets: { popup: box.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="boxes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
